## Shared

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dotenv
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# TypeScript cache
*.tsbuildinfo

## Client

# next.js
client/.next/

# production
/build

# misc
.DS_Store
*.pem

# vercel
.vercel

# typescript
next-env.d.ts

## Server

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# node-waf configuration
.lock-wscript

# Typescript Build
build