# See https://prettier.io/docs/en/ignore.html for more about ignoring files.

## Shared

# Dependencies
package-lock.json
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dotenv
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# TypeScript cache
*.tsbuildinfo

## Client

# next.js
.next
.build

# vercel
.vercel

# typescript
next-env.d.ts
